<div class="container">
    <h2 class="title">BIENVENIDOS, ¿QUÉ OPERACIÓN DESEA REALIZAR?</h2>
    <nav class="menu">
      <button class="menu-button" (click)="realizarOperacion('Operación 1')">Acciones con Personas</button>
      <button class="menu-button" (click)="realizarOperacion('Operación 2')">Reservaciones</button>
      <button class="menu-button" (click)="realizarOperacion('Operación 3')">Vuelos</button>
      <button class="menu-button" (click)="realizarOperacion('Operación 4')">Equipajes</button>
    </nav>
  </div>
  